*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.title1, .title2, .blink, .hlink{
    display: flex;
    justify-content: center;
    font-family: poppins;
    text-decoration:none;
}
  

.footer{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-family: poppins;
    font-size: 3px;
}




